<p>second chance to ask</p>

<h1 class="animated infinite bounce">What do you want to know?</h1>

<!-- <p>testing secret player</p> -->

<form action="question">
  <!-- action = when form is submitted, where does it go? ie which file catches the data -->
  <input type="text" name = "question" placeholder="Your question here">
<button>Submit!</button>
</form>
