

<h1 class="animated infinite bounce">Your fortune...</h1>

<p>You want to know: <%=@question%></p>
<p class='animated bounce swing ' id='fortune'>The magic 8 ball says ....</p>

<p class='animated bounce swing rollIn'><%=@answer%></p>
