<p>Wanna play?</p>
<img src="http://fillmurray.com/543/234" alt="">

<div><a href="/games/magic2/">Wanna know your future?</a>
<a href='/games/secret'>Wanna guess a number?</a>
<a href='/games/rock_paper_scissors/start'>Wanna play scissors paper rock?</a>
</div>
