<h2>Add a mountain!</h2>

<form action="/mountains" method = "post">

  <p>
      <label for="">Name:</label>
      <input type="text" name="name" placeholder="name">
    </p>
    <p>
      <label for="">Location:</label>
      <input type="text" name="location" placeholder="location">
    </p>
    <p>
      <label for="">Image URL:</label>
      <input type="text" name="image" placeholder="Image URL">
    </p>
    <p>
      <label for="">Height:</label>
      <input type="text" name="heights" placeholder="height in metres">
    </p>
    <p>
      <label for="">Death Count:</label>
      <input type="text" name="deaths" placeholder="deaths">
    </p>
    <input type="submit" name="" value="Create Mountain">


</form>
