<h1 class="animated infinite bounce">Guess a number</h1>

<!-- <p>testing secret player</p> -->

<form action="guess">
  <!-- action = when form is submitted, where does it go? ie which file catches the data -->
  <input type="text" name = "guess" placeholder="Your guess here">
<button>Submit!</button>
</form>
