
<h1 class="animated infinite bounce">Your fortune...</h1>

<p>What do you want to know about your future?</p>

<form action="question">
  <!-- action = when form is submitted, where does it go? ie which file catches the data -->
  <input type="text" name = "question" placeholder="Your question here">
<button>Submit!</button>
</form>
