<!DOCTYPE html>
<html>
  <head>
    <title>Games App</title>
    <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/animate.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Lobster+Two|Orbitron" rel="stylesheet">

  <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
